:root {
    --theme-cian-background: #14bdac;
    --theme-cian-color: #013623;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--theme-cian-background);
    font-family: arial, sans-serif;
    color: var(--theme-cian-color);
}

.header {
    text-align: center;
}

.game-board {
    margin: auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: #0da192;
}

.game-board__game-field {
    background-color: var(--theme-cian-background);
    display: flex;
}

path {
    width: 100%;
    height: 100%;
}

.X {
    stroke: rgb(84, 84, 84);
    stroke-width: 10px;
}

.O {
    stroke: rgb(242, 235, 211);
    stroke-width: 10px;
    fill: none;
}

.win-line {
    stroke-width: 10px;
    stroke: rgb(84, 84, 84);
}

.win-line__straight {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 216px;
}
/*
rotate: none;
top: -56px;

rotate:none;

rotate:none;
top: 216px;


*/