* {
    box-sizing: border-box;
}

html,
body {
    background-color: #202124;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
}

header {
    padding: 8px;
}

nav {
    float: right;
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 14px;
}

.google-applications-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.account {
    border-radius: 50%;
}

.text-option:hover {
    text-decoration: underline;
}

.layout {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 92px;
}


.search-wrapper_padding_default {
    padding: 20px;
}

.search-wrapper_max-height_default {
    max-height: 160px;
}

.no-shrink {
    flex-shrink: 0;
}

.search-form {
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}

.search-box {
    display: flex;
    height: 44px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-box__search-content {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.search-box__search-icon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-box__search-icon svg {
    width: 20px;
    height: 20px;
    fill: #5f6368;
}

.search-box__search-field {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search-box__search-field input {
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    word-wrap: break-word;
    height: 34px;
    font-size: 16px;
    flex:100%;
    background-color: transparent;
}

.search-box__search-field input:focus {
    outline: none;
}