* {
    box-sizing: border-box;
}

:root {
    --dark-theme-background: #202124;
    --dark-theme-color: white;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark-theme-background);
    color: var(--dark-theme-color);
    font-family: sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 6px;
}

.header__options {
    float: right;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

